$black: black;
$white: white;
$dark-gray: #242323;
$light-gray: #a0a6af;
$pink: pink;
$dark-gray: #242323;
$alpha-black: rgba(0, 0, 0, 0.5);

header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 5px 10px;
  border-bottom: solid 4px $light-gray;
}

.LeftNav {
  display: flex;
  align-items: center;
  .Logo {
    width: 230px;
    strong {
      font-weight: 800;
      font-size: 24px;
    }
    h1 {
      font-size: 14px;
      color: $light-gray;
    }
  }
  .SocialsNav {
    width: 100px;
    margin-left: 20px;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      font-size: 0;
      li {
        a {
          font-size: 30px;
          color: $light-gray;
          transition: all 0.7s;
          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}
.WebsiteNav {
  width: calc(100% - (10% + 350px));
  .DesktopMenu {
    list-style-type: none;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    li {
      a {
        color: $light-gray;
        position: relative;
        transition: all 0.7s;
        outline: 0;
        &.active {
          color: $dark-gray;
          &:before,
          &:after {
            content: "";
            display: block;
            width: 170%;
            height: 1px;
            background-color: $light-gray;
            transition: all 0.7s;
            position: absolute;
          }
          &:before {
            top: -6px;
          }
          &:after {
            bottom: -8px;
          }
        }
        &:hover {
          color: $black;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          width: 0px;
          height: 1px;
          background-color: $light-gray;
          transition: all 0.7s;
          position: absolute;
        }
        &:before {
          top: -6px;
          right: 0;
          margin-right: -35%;
        }
        &:after {
          bottom: -8px;
          margin-left: -35%;
        }

        &:hover:before,
        &:hover:after {
          width: 170%;
        }
      }
    }
  }
  .BurgerMenu {
    display: none;
    width: 34px;
    height: 32px;
    background-color: $alpha-black;
    border-radius: 5px;
    padding-top: 14px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    span {
      margin: 0 auto;
      display: block;
      border-radius: 2px;
      background-color: $white;
      width: 26px;
      height: 4px;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        border-radius: 2px;
        background-color: $white;
      }
      &:before {
        position: absolute;
        top: 5px;
      }
      &:after {
        position: absolute;
        bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 961px) {
  .center {
    width: 100%;
    margin: 0;
  }
  header nav.WebsiteNav ul.DesktopMenu {
    display: none;
  }
  header nav.WebsiteNav {
    display: flex;
    justify-content: flex-end;
  }
  header nav.WebsiteNav div.BurgerMenu {
    display: block;
  }
}
