$black: black;
$white: white;
$darker-white: #f7f7f7;
$border-color: #d9d9d9;
$dark-gray: #242323;
$medium-gray: #4d4d4d;
$light-gray: #a0a6af;
$pink: pink;
$hard-pink: rgb(179, 32, 32);
$pale-blue: #5454fd;
$alpha-black: rgba(0, 0, 0, 0.5);

div.Hero-contact {
  position: relative;
  background-image: url("/img/hipster-bg-low.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 16% 0 20% 0;
  border-bottom: solid 5px $black;
  div.center {
    text-align: center;
    div.Title {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding-left: 1.7em;
      strong {
        color: $light-gray;
        display: block;
        text-align: right;
        font-weight: 300;
        letter-spacing: 5px;
        animation-name: welcome;
        animation-duration: 1.4s;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        margin-right: 1.7em;
        a {
          color: $white;
          font-weight: 700;
          letter-spacing: 5px;
        }
      }
      p {
        span {
          font-family: "Rubik", sans-serif;
          color: $white;
          font-size: 60px;
          font-weight: 300;
          letter-spacing: 0.5em;
          opacity: 0;
          animation-name: welcome;
          animation-duration: 0.5s;
          animation-direction: normal;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          &:nth-child(1) {
            animation-delay: 0.1s;
          }
          &:nth-child(2) {
            animation-delay: 0.15s;
          }
          &:nth-child(3) {
            animation-delay: 0.2s;
          }
          &:nth-child(4) {
            animation-delay: 0.25s;
          }
          &:nth-child(5) {
            animation-delay: 0.3s;
          }
          &:nth-child(6) {
            animation-delay: 0.35s;
          }
          &:nth-child(7) {
            animation-delay: 0.4s;
          }
        }
      }
    }
  }
}

@keyframes welcome {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

div.Contact {
  position: relative;
  z-index: 1;
  margin: 30px 40px 10px 40px;
  border-radius: 5px;
  padding: 80px 12% 10px 12%;
  div.Contact-form {
    margin-bottom: 40px;
    strong {
      font-size: 20px;
      font-weight: 700;
      color: $light-gray;
    }
    p {
      line-height: 30px;
      margin-bottom: 20px;
    }
    form {
      width: 60%;
      min-width: 870px;
      display: inline-block;
      span.required {
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
        color: $hard-pink;
      }
      input#submit {
        cursor: pointer;
        padding: 8px 15px;
        font-weight: 700;
        width: 150px;
        border: solid 1px $black;
        border-radius: 5px;
        transition: all 0.4s;
        margin-left: calc(50% - 75px);
        margin-bottom: 20px;
        background: none;
        &:hover {
          background-color: $black;
          color: $white;
        }
      }
      label {
        position: relative;
        input {
          padding: 8px 15px;
          color: $black;
          background-color: transparent;
          border: solid 1px $black;
          width: calc(50% - 3px);
          font-size: 14px;
          margin-bottom: 10px;
        }
        input#lastName,
        input#phone,
        input#postalCode {
          margin-right: 3px;
        }
        input#street {
          width: calc(100% - 3px);
        }
        textarea {
          padding: 8px 15px;
          color: $black;
          background-color: transparent;
          border: solid 1px $black;
          width: calc(100% - 3px);
          display: block;
          font-size: 14px;
          margin-bottom: 20px;
          position: relative;
          font-family: "Rubik", sans-serif;
          resize: none;
        }
      }
      label[for="lastName"],
      label[for="phone"] {
        span.required {
          font-size: 20px;
          position: absolute;
          top: -5px;
          right: 8px;
          color: $hard-pink;
        }
      }
      label[for="firstName"],
      label[for="email"] {
        span.required {
          font-size: 20px;
          position: absolute;
          top: -5px;
          right: 5px;
          color: $hard-pink;
        }
      }
      label[for="message"] {
        span.required {
          font-size: 20px;
          position: absolute;
          top: 42px;
          right: 5px;
          color: $hard-pink;
        }
      }
      em {
        display: block;
        line-height: 20px;
        font-size: 12px;
      }
    }
  }
  div.Traditional-address {
    p {
      line-height: 30px;
      margin-bottom: 20px;
    }
    ul {
      font-size: 0;
      list-style-type: none;
      li {
        font-size: 18px;
        width: calc(50% - 20px);
        vertical-align: top;
        float: left;
        strong {
          color: $light-gray;
          font-size: 20px;
        }
        p {
          padding-left: 10px;
          a {
            font-weight: 700;
            color: $pale-blue;
          }
        }
      }
    }
  }
}
div#map {
  padding: 20px 12% 10px 12%;
  margin-bottom: 90px;
  iframe {
    width: 100%;
    height: 600px;
    border: none;
  }
}
/*div.Contact div.Contact-form {
  margin-bottom: 40px;
}*/
/*div.Contact div.Contact-form strong,
div.Contact div.Traditional-address strong {
  font-size: 20px;
  font-weight: 700;
  color: $light-gray;
}*/
/*div.Contact div.Contact-form p,
div.Contact div.tradi p {
  line-height: 30px;
  margin-bottom: 20px;
}*/
/*div.Contact div.Contact-form form,
div.Contact div.Traditional-address form {
  width: 60%;
  min-width: 870px;
  display: inline-block;
}*/
/*div.Contact div.Contact-form form label,
div.Contact div.Traditional-address form label {
  width: 100%;
  margin-bottom: 10px;
}*/
/*div.Contact div.Contact-form form label input,
div.Contact div.Traditional-address form label input {
  padding: 8px 15px;
  color: $black;
  background-color: transparent;
  border: solid 1px $black;
  width: calc(50% - 3px);
  font-size: 14px;
}*/
/*div.Contact div.Contact-form form label input::placeholder,
div.Contact div.Tradi form label input::placeholder {
  color: $black;
}*/
/*div.contact div.cont-form form label input#street,
div.contact div.tradi form label input#street {
  width: 100%;
}
div.contact div.cont-form form label input#submit,
div.contact div.tradi form label input#submit {
  margin: 0 auto;
  cursor: pointer;
  padding: 0;
  font-weight: 700;
  width: 150px;
}
div.contact div.cont-form form label input#submit:hover,
div.contact div.tradi form label input#submit:hover {
  color: $white;
  background-color: $black;
  border: solid 1px $light-gray;
}*/
/*div.contact div.cont-form form label textarea,
div.contact div.tradi form label textarea {
  padding: 8px 15px;
  color: $black;
  background-color: transparent;
  border: solid 1px $black;
  width: 100%;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}*/

/*div.contact div.cont-form form label textarea::placeholder,
div.contact div.tradi form label textarea::placeholder {
  color: $black;
  font-family: "Rubik", sans-serif;
}
div.contact div.tradi ul li {
  display: inline-block;
  width: calc(50% - 20px);
  vertical-align: top;
  float: left;
}
div.contact div.tradi ul li strong {
  color: $light-gray;
}
div.contact div.tradi ul li p,
div.contact div.tradi ul li a {
  line-height: 25px;
  padding-left: 10px;
}
div.contact div.tradi ul li a {
  transition: all 0.7s;
}
div.contact div.tradi ul li a:hover {
  font-size: 18px;
}*/
