@import "../../index.scss";

.loader {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  .sk-fade-in {
    display: block;
    margin: 0 auto 20px auto;
  }
  p {
    text-align: center;
  }
}
