$black: black;
$white: white;
$dark-gray: #242323;
$medium-gray: #4d4d4d;
$light-gray: #a0a6af;
$pink: pink;
$pale-blue: #5454fd;
$alpha-black: rgba(0, 0, 0, 0.5);

.Container {
  min-height: calc(100vh - 417px);
}
