$black: black;
$white: white;
$darker-white: #f7f7f7;
$border-color: #d9d9d9;
$dark-gray: #242323;
$medium-gray: #4d4d4d;
$light-gray: #a0a6af;
$pink: #fa768c;
$hard-pink: #b32020;
$pale-blue: #5454fd;
$alpha-black: rgba(0, 0, 0, 0.5);
