@import "../../index.scss";

div.Portfolio {
  padding: 20px 8% 40px 8%;
  div.Lightbox {
    div.lightbox-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      img.lightbox-img-thumbnail {
        margin: 5px;
        transition: all 0.5s;
        overflow: hidden;
        animation: slidein 0.8s ease-in forwards;
        transition: all 0.5s;
        opacity: 0;
        filter: grayscale(80%) blur(1px);
        cursor: pointer;
        &:hover {
          transform: scale(1.006);
          filter: grayscale(0%) blur(0px);
        }
        &:nth-child(1) {
          animation-delay: 0.4s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
        &:nth-child(4) {
          animation-delay: 0.4s;
        }
        &:nth-child(5) {
          animation-delay: 0.8s;
        }
        &:nth-child(6) {
          animation-delay: 0.6s;
        }
        &:nth-child(7) {
          animation-delay: 0.4s;
        }
        &:nth-child(8) {
          animation-delay: 0.8s;
        }
        &:nth-child(9) {
          animation-delay: 0.6s;
        }
        &:nth-child(10) {
          animation-delay: 0.8s;
        }
        &:nth-child(11) {
          animation-delay: 1s;
        }
        &:nth-child(12) {
          animation-delay: 0.6s;
        }
        &:nth-child(13) {
          animation-delay: 1s;
        }
        &:nth-child(14) {
          animation-delay: 0.4s;
        }
        &:nth-child(15) {
          animation-delay: 0.8s;
        }
      }
    }
  }
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*div.Portfolio img:nth-child(1) {
  animation-delay: 0.4s;
}
div.Portfolio img:nth-child(2) {
  animation-delay: 0.2s;
}
div.Portfolio img:nth-child(3) {
  animation-delay: 0.6s;
}
div.Portfolio img:nth-child(4) {
  animation-delay: 0.4s;
}
div.Portfolio img:nth-child(5) {
  animation-delay: 0.8s;
}
div.Portfolio img:nth-child(6) {
  animation-delay: 0.6s;
}
div.Portfolio img:nth-child(7) {
  animation-delay: 0.4s;
}
div.Portfolio img:nth-child(8) {
  animation-delay: 0.8s;
}
div.Portfolio img:nth-child(9) {
  animation-delay: 0.6s;
}
div.Portfolio img:nth-child(10) {
  animation-delay: 0.8s;
}
div.Portfolio img:nth-child(11) {
  animation-delay: 1s;
}
div.Portfolio img:nth-child(12) {
  animation-delay: 0.6s;
}
div.Portfolio img:nth-child(13) {
  animation-delay: 1s;
}
div.Portfolio img:nth-child(14) {
  animation-delay: 0.4s;
}
div.Portfolio img:nth-child(15) {
  animation-delay: 0.8s;
}
div.Portfolio img:hover {
  filter: grayscale(0%) blur(0px);
}
div.Portfolio img {
  display: block;
  margin: 0 auto;
  filter: grayscale(80%) blur(1px);
  transition: all 0.5s;
}*/
