@import "../../index.scss";

div.Title-products {
  padding: 60px 8% 40px 8%;
  margin-bottom: 40px;
  h4 {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
  }
  p {
    line-height: 25px;
  }
}
